<div>

    <h3>location: {{request.task.location.name}}</h3>
    <h4>brief: {{request.task.brief}}</h4>
    <h4>credit: {{request.credit}}</h4>
    <h4>type: {{request.task.type}}</h4>
    <h4>status: {{request.status}}</h4>

    <br/>
    <h4>current answers:</h4>
    <li ng-repeat="answer in request.answers">
        <img style="max-width:100px" ng-if="request.task.type=='image'" ng-src="../../image/thumb/{{answer.value}}"/>
        <img style="max-width:100px" ng-if="request.task.type=='video'" ng-src="../../video/thumb/{{answer.value}}.png"/>
    </li>

    <br/>
    <h4>I want to answer:</h4>
    <form novalidate class="request-form">
        <div ng-if="request.task.type=='text'">
            <ul>
                <li ng-repeat="option in request.task.options">
                    {{option.value}}
                </li>
            </ul>

        </div>

        <div ng-if="request.task.type!='text'">
            <input type="file" ng-file-select="onFileSelect($files)">
        </div>


        <button ng-click="submit()">submit</button>
    </form>

    <br/>
    <button ng-click="close()">close</button>

</div>