/* 代码整理：懒人之家 */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
	margin:0;
	padding:0;
	border:0;
}
ul, ol, li {
	list-style:none;
}
input, button {
	margin:0;
	font-size:20px;
	vertical-align:middle;
}
body {
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	margin:0 auto;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.l {
	float:left;
}
.r {
	float:right;
}
.box-lanrenzhijia {
	width:700px;
	margin:0 auto;
}
.box-lanrenzhijia h1 {
	font-size:1.6em;
	text-align:center;
	margin:20px 0;
}
.part01-jscrop {
	padding:0 20px 20px;
	position:relative;
}
.jcrop-handle {
	font-size:1px;
	width:7px !important;
	height:7px !important;
	border:1px #eee solid;
	background-color:#333;
*width:9px;
*height:9px;
}
.jcrop-tracker {
	width:100%;
	height:100%;
}
.jcrop-handle {
	border-color:black;
	background-color:#C7BB00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.crop_preview {
	position:relative;
	left:50px;
	top:0;
	width:120px;
	height:200px;
	overflow:hidden;
}