<!DOCTYPE html>
<html>
<head>
    <title>testing</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

Testing..

<h5><a href="http://lccpu3.cse.ust.hk/gmission-client/app/build/apk/app-release.apk">
最新版客户端下载地址</a></h5>

<h5><a href= {{config.APK_PATH}} >数据采集器下载地址</a></h5>

<h5><a href= {{config.LOCALIZATION_PATH}} >室内定位测试器下载地址</a></h5>

<h5><a href= {{config.WIFIPAD_PATH}} >室内定位测试器 for Tablet下载地址</a></h5>


<h5><a href="static/html/index.html">web version</a></h5>

<dl>
      {% for key, value in config.iteritems() %}
            <dt>{{ key }}</dt>
            <dd>{{ value }}</dd>
      {% endfor %}
</dl>

<script>
    var post_json=function(url, data, success, user_token){
        $.ajax({
          url:url,
          type:"POST",
          data:JSON.stringify(data),
          contentType:"application/json; charset=utf-8",
          dataType:"json",
          beforeSend: function(xhr){xhr.setRequestHeader('X-Xuewen-User-Auth-Token', user_token);},
          success: success
        });
    }
    var get_json=function(url, success){
        $.ajax({
          url:url,
          type:"GET",
          dataType:"json",
          success: success
        });
    }

    var login=function(){
        var post_data = {username:'test', password:'hkust'};
        post_json('user/login', post_data, function(data){
            console.log(data);
        });
    }

    var register=function(){
        var post_data = {username:'test_reg', password:'hkust', email:'reg@ust.hk'};
        post_json('user/register', post_data, function(data){
            console.log(data);
        });
    }

    var favour=function(){
        var post_data = {series_id: 21, user_id: 4};
        post_json('auto-api/favour', post_data, function(data){
            console.log(data);
        });
    }

    var answer = function(){
        var token='WyIyIiwiNWY0ZGNjM2I1YWE3NjVkNjFkODMyN2RlYjg4MmNmOTkiXQ.BbkJbw.MtT_Vhn8x0PldWgzUPRpbfzplLo';
        var post_data={ task_id:'1', worker_id:'1', option_id:'1'};
        post_json('auto-api/answer', post_data, function(data){
            console.log(data);
        }, token)
    }

    var credit = function(){
        var token='WyIyIiwiNWY0ZGNjM2I1YWE3NjVkNjFkODMyN2RlYjg4MmNmOTkiXQ.BbkJbw.MtT_Vhn8x0PldWgzUPRpbfzplLo';
        var post_data={ option_id:'1', worker_id:'1', option_id:'1'};
        post_json('auto-api/answer', post_data, function(data){
            console.log(data);
        }, token)
    }
    var test=function(){
          credit();
//        login();
//        favour();
//        answer();
    }

    $(function(){
        test();
    })

</script>

</body>
</html>