{% extends 'admin/master.html' %}
{% block body %}


    <form name="judgeForm" action="" method="POST" class="form-horizontal" enctype="multipart/form-data" onsubmit="return validate()">
        <fieldset>
{#            conference name#}
            <div class="control-group">
                <div class="control-label">
                    Conference
                    &nbsp;
                </div>
                <div class="controls">
                    <div>
                        <input id="conference_name" name="conference_name" type="text" value="{{ task.conference.name }}" readonly="readonly">
                    </div>
                </div>
            </div>
{#            field#}
            <div class="control-group">
                <div class="control-label">
                    Field
                    &nbsp;
                </div>
                <div class="controls">
                    <div>
                        <input id="task_field" name="task_field" type="text" value="{{ task.field }}" readonly="readonly">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    Options
                    &nbsp;
                </div>
                <div class="controls">
                {% for option in task.options %}

                    <div class="input-group" input-group-lg>
                        <input id="opt{{ option.ctoid}}" name="option_group" type="radio" value="{{ option.ctoid}}">
                        <label class="label label-info" for="opt{{ option.ctoid}}">{{ option.value ~ "[vote:" ~ option.ansNo ~ "]"}}</label>
                    </div>

                {% endfor %}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary btn-large" value="Submit" />
                </div>
            </div>

        </fieldset>
    </form>

<script type="text/javascript">
function validate()
{
  var retval = false;
  for (var i=0; i < document.judgeForm.option_group.length; i++)
  {
    if (document.judgeForm.option_group[i].checked)
    {
      retval = true;
    }
  }
  if( retval == false){
      alert("请选择好选项后再提交！");
  }
  return retval;
}
</script>
{% endblock %}