<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MAP LABLE DEMO</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/lanrenzhijia.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.Jcrop.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.Jcrop.min.css')}}" type="text/css" />
<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 250px;
  height: 170px;
  overflow: hidden;
}
</style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.Jcrop.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.Jcrop.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.color.js')}}"></script>
    <script>


        window.onload=function()
        {
        //调用方法获得参数

        // Create variables (in this scope) to hold the API and image size
        var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();

        console.log('init',[xsize,ysize]);

         $("#img1").Jcrop({
                    onChange:updatePreview,
                    onSelect:updatePreview,
         },function(){
          // Use the API to get the real image size
          var bounds = this.getBounds();
          boundx = bounds[0];
          boundy = bounds[1];

          console.log('init',[boundx,boundy]);

          // Store the API in the jcrop_api variable
          jcrop_api = this;
          jcrop_api = $('#img-container');
          // Move the preview into the jcrop container for css positioning

        });

        function updatePreview(c)
        {
          if (parseInt(c.w) > 0)
          {
            var rx = xsize / c.w;
            var ry = ysize / c.h;

            $pimg.css({
              width: Math.round(rx * boundx) + 'px',
              height: Math.round(ry * boundy) + 'px',
              marginLeft: '-' + Math.round(rx * c.x) + 'px',
              marginTop: '-' + Math.round(ry * c.y) + 'px'
            });
          }

          $('#x').val(c.x);
            $('#y').val(c.y);
            $('#x2').val(c.x2);
            $('#y2').val(c.y2);
            $('#w').val(c.w);
            $('#h').val(c.h);
        };


        function showPreview(coords){
			if(parseInt(coords.w) > 0){
				//计算预览区域图片缩放的比例，通过计算显示区域的宽度(与高度)与剪裁的宽度(与高度)之比得到
				var rx = $("#preview_box").width() / coords.w;
				var ry = $("#preview_box").height() / coords.h;
				//通过比例值控制图片的样式与显示
				$("#img2").css({
					width:Math.round(rx * $("#bPic").width()) + "px",	//预览图片宽度为计算比例值与原图片宽度的乘积
					height:Math.round(rx * $("#bPic").height()) + "px",	//预览图片高度为计算比例值与原图片高度的乘积
					marginLeft:"-" + Math.round(rx * coords.x) + "px",
					marginTop:"-" + Math.round(ry * coords.y) + "px"
				});
			}

            $('#x').val(coords.x);
            $('#y').val(coords.y);
            $('#x2').val(coords.x2);
            $('#y2').val(coords.y2);
            $('#w').val(coords.w);
            $('#h').val(coords.h);
		};
        }

        function click(){
            alert($('#x').value + "," + $('#y').val )
        }

        //获得选中location
         function getSelectLocation(){
            oListbox = document.getElementById("loca");
            var indx = oListbox.options[oListbox.selectedIndex].value;
            ll = document.getElementById("location");
            ll.value = indx;
        }
        //获得选中category
        function getSelectCategory(){
            oListbox = document.getElementById("cate");
            var indx = oListbox.options[oListbox.selectedIndex].value;
            ca = document.getElementById("category");
            ca.value = indx;
        }
</script>


</head>

<body>

<form action="{{url_for('getinfo')}}" method="post">
    <div>
    <label>X1 <input type="text" size="4" id="x" name="x" /></label>
	<label>Y1 <input type="text" size="4" id="y" name="y" /></label>
	<label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
	<label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
	<label>W <input type="text" size="4" id="w" name="w" /></label>
	<label>H <input type="text" size="4" id="h" name="h" /></label>

    <label>Area ID <input type="text" size="4" id="area" name="area" /></label>
	<label>Location <input type="text" size="8" id="location" name="location" /></label>
    <label>Category <input type="text" size="8" id="category" name="category" /></label>

    <button id="submit" value="submit" type="submit">submit</button>
</div>
</form>
<label>Category List:</label>
    <select id="cate" onchange="getSelectCategory()">
    {% for ca in cate %}
        <option>{{ca}}</option>
    {% endfor %}
    </select>
<label>Location List:</label>
    <select id="loca" onchange="getSelectLocation()">
    {% for lc in loca %}
        <option>{{lc}}</option>
    {% endfor %}
    </select>

<table>
    <tr>
        <td>
<div id="img-container" style="border:1;overflow:scroll;height:600px; width:1200px;">
    <img style="" id="img1" src="{{url_for('static',filename=src)}}"/>
</div>
</td>
<td>
<div id="preview-pane">
<div class="preview-container">
  <img id="img2" src="{{url_for('static',filename=src)}}" class="crop-preview" alt="Preview" />
</div>
</div>
</td>
</tr>
    </table>

</body>
</html>