<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MAP LABLE DEMO</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/lanrenzhijia.css')}}" type="text/css" />
    <script type="text/javascript">



     function getSelectFile()
      {
      try {
            netscape.security.PrivilegeManager.enablePrivilege( 'UniversalFileRead' );
        }
        catch (err) {
            //need to set signed.applets.codebase_principal_support to true
        }



          var file =document.getElementById("fileSelect").files[0]; 
          var objectURL = window.URL.createObjectURL(file);

          var reader = new FileReader(); 
          reader.readAsDataURL(file); 
            reader.onload = function(e){
                window.location.href='map?src='+ e.target.event;
            }

      }
    </script>
</head>
<body>
<br/>
<br/>

<br/>

<form action="{{url_for('showmap')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <input type="file" name="info" /><br />
    <input type="submit" value="Upload" />
</form>
</body>
</html>
