<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hits for Taxonomy</title>
</head>
<style>
header {
    background-color: #23527c;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width: 70%;
    float:left;
    padding:10px;
}
aside {
    width: 30%;
    float:right;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.min.js')}}"></script>
<script>

    var goToNextHit = false;
    var projectName = "/gmission";
{#    var projectName = "";#}
    function goToHelpPage(){
        var email_address = $('#email_address').val();
        var url = "http://"+window.location.host+projectName+"/taxonomy_help/"+email_address;
        window.location = url;
    }

    function submitAnswer(){
        if (!$("input[name='option']:checked").val()){
            $('#notification').text('*Please choose at least one option!');
            return;
        }
        var option_number = $("input[name='option']:checked").val();
        var sub_option = null;
        if(option_number == '3'){
            var suboption_string = "";
            for (var i = 0; i < checkbox_id_list.length; i++){
                if ($('#'+checkbox_id_list[i]).is(':checked')){
                    suboption_string += ',' + $('#'+checkbox_id_list[i]).val();
                }
            }


            if(suboption_string.length == 0){
                $('#notification').text('*Please choose at least one child option!');
                return;
            } else {
                suboption_string = suboption_string.substring(1)
            }

            if(suboption_string.indexOf('empty') != -1 && suboption_string.length > 'empty'.length){
                $('#notification').text('*If you select "Sibling", do not select any other child more!');
            } else {
                sub_option = suboption_string;
            }
        }

        if(option_number == '4') {
            var child = $('#options2').val();
            if (child.valueOf() == 'empty'.valueOf()) {
                $('#notification').text('*Please choose which child it is!');
                return;
            } else {
                sub_option = child;
            }
        }
        var email_address = $('#email_address').val();
        var hit_number = $('#hit_number').val();

        $.ajax({
            type: 'POST',
            url:"http://"+window.location.host+projectName+"/answer_hit",
            data:{ hit_number: hit_number, option: option_number, sub_option: sub_option, email_address: email_address },
            success: function(msg){
                if(msg != 'OK'){
                    alert(msg);
                    $('#notification').text('Email Error... Please refresh this task to try again...');
                }
                if(goToNextHit){
                    $('#notification').text('Submission OK. Jumping to the next hit...');

                    var url = "http://"+window.location.host+projectName+"/taxonomy_hit/"+email_address+"/"+hit_number;
                    window.location = url;
                }


            },
            error: function(xhr, textStatus, errorThrown){
                $('#notification').text('Submission Failed! Please check you network or try later!');
            }
        });

    }

    function submitAndGoToNextHit(){
        goToNextHit = true;
        submitAnswer();
    }

    function jumpToNextHit(){
        var email_address = $('#email_address').val();
        var hit_number = $('#hit_number').val();
        var url = "http://"+window.location.host+projectName+"/jump_to_next_hit/"+email_address+"/"+hit_number;
        window.location = url;
    }
    var checkbox_id_list = ['checkbox_options1'];
    $(document).ready(function() {
        var children_list_text = '{{ children_node_list }}';
        var children_list = children_list_text.split(",");

{#        $('#insert_position').replaceWith('<option value="'+ $.trim(children_list[i]) +'">'+ $.trim(children_list[i]) +'</option>');#}
        var check_options_string = "";
        for (var i = 0; i < children_list.length; i++) {
            var child_content = $.trim(children_list[i]);
            var checkbox_id = 'checkbox_options'+(i+2);
            check_options_string += ' <input type="checkbox" id="'+checkbox_id+'" value="'+child_content+'" >'+child_content;
{#            alert(check_options_string);#}
            checkbox_id_list.push(checkbox_id);
            $('#options2').append('<option value="'+ child_content+'">'+ child_content +'</option>');
        }
        $('#insert_position').replaceWith(check_options_string);

    })
</script>
<body>
<label for="email_address">Email:</label><input type="text" name="email_address" id="email_address" value="{{ email }}" disabled/>
<label for="credits">Credits:</label><input type="text" name="credits" id="credits" value="{{ credits }}" disabled/>
(If you do not know how to do this task, please see the help information first.<button onclick="goToHelpPage();">Help</button>)
<br/>
<hr/>
<label for="hit_number">Hit Number:</label><input type="text" name="hit_number" id="hit_number" value="{{ hit_number }}" disabled/> <br/>
Hit Value: {{ hit_value }} <br/>
Query: {{ query_content }} <br/>
Parent Node: {{ parent_node }} <br/>
Target Node: {{ target_node }} <br/>
Children Nodes: {{ children_node_list }} <br/>

<div id="options" name="options">
    <b>Options:</b><br/>
    <input type="radio" name="option" value="1">Ancestor of Target<br/>
    <input type="radio" name="option" value="2">Sibling of Target<br/>
    <input type="radio" name="option" value="3">Child of Target and parent of child(ren) of Target.(
    <input type="checkbox" name="checkbox_options1" id="checkbox_options1" value="empty">Sibling
    <div id="insert_position" ></div>(which child(ren), multi-choice allowed))<br/>

    <input type="radio" name="option" value="4">Descendant of one child of Target.(
    <select id="options2" name="options2">
        <option value="empty"></option>
    </select>
    (which child))<br/>


</div>

<hr>
<div id="notification" name="notification" style="color: red"></div>
<button style="margin-right: 5%" onclick="submitAnswer();">Submit</button> <button style="margin-right: 5%" onclick="submitAndGoToNextHit();">Submit&Next</button>
<button onclick="jumpToNextHit();">Skip</button>
</body>
</html>