<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Help for conducting Taxonomy Crowd Tasks</title>
</head>
<style>
header {
    background-color: #23527c;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width: 70%;
    float:left;
    padding:10px;
}
aside {
    width: 30%;
    float:right;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.min.js')}}"></script>
<script>
    var projectName = "";
    function returnHitPage(){
        var email_address = $('#email-address').val();
        var url = "http://"+window.location.host+projectName+"/taxonomy_hit/"+email_address+"/null";
        window.location = url;
    }
</script>
<body>
<header>Clarification of Taxonomy Crowd Tasks</header>
<label for="email-address">Email:</label><input type="text" name="email-address" id="email-address" value="{{ email }}" disabled/>
<label for="credits">Credits:</label><input type="text" name="credits" id="credits" value="{{ credits }}" disabled/>
<br/>
<hr>
<section>
    Taxonomy is the science of defining groups of biological organisms on the basis of shared characteristics and giving names to
    those groups. Here we want to build a similar thing but for words.Taxonomy is the science of defining groups of biological
    organisms on the basis of shared characteristics and giving names to those groups. Here we want to build a similar thing but for words.
    <br/>
    <hr>
    Here is an example of this kind of tasks:
    <img width="100%" src="../static/image/taxonomy_example.jpg"/><br/>
    As shown in the picture above, the target node is <font color="red">Artist</font> , query node is
    <font color="red">Singer</font>, fix the position of query node w.r.t the local tree rooted at Artist.<br/>

    <b>Thus, in this example, you should response with an answer indicating that Singer is a descendant of Target and a Ancestor of one child (here is "Pop Singer") of Target.</b>
    <hr>
    <button onclick="returnHitPage();">Return</button>

</section>
</body>
</html>